<html>
		<head>
			<h1>Aquahuna fish available for type african-cichlids</h1>
		</head>
		<body>
			<table>
				<tr>
					<th>Fish</th>
					<th>Price</th>
				</tr>
			<tr><td>
Demasoni Cichlid 1.25" - 3 pack
</td><td>
Regular price
          $22.50
        
      </td></tr><tr><td>
Orange Blotched Peacock Cichlid
</td><td>
Regular price
          $0.00
        
      </td></tr><tr><td>
Albino Kribensis - 6 pack
</td><td>
Regular price
          $26.00
        
      </td></tr><tr><td>
OB Raspberry Peacock - 4 pack
</td><td>
Regular price
          $25.00
        
      </td></tr><tr><td>
Kenyi Cichlid - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Electric Yellow 1.25" - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Frontosa Cichlid (1.5") - 2 pack
</td><td>
Regular price
          $30.00
        
      </td></tr><tr><td>
Neolamprologous Brichardi (1.5") - 4 pack
</td><td>
Regular price
          $26.00
        
      </td></tr><tr><td>
Blue Socolofi - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Assorted Mbuna - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
African Butterfly Cichlid - 6 pack
</td><td>
Regular price
          $20.00
        
      </td></tr><tr><td>
Maingano - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Venustus - 4 pack
</td><td>
Regular price
          $26.00
        
      </td></tr><tr><td>
Red Zebra Cichlid - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Neolamprologus Leleupi (2.5") - 2 pack
</td><td>
Regular price
          $26.00
        
      </td></tr><tr><td>
Auratus - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Cobalt Blue Zebra Cichlid - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Acei Cichlid - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Ndiwe Fire Hap - 4 pack
</td><td>
Regular price
          $25.00
        
      </td></tr><tr><td>
Neolamprologus similis- Zebra Shell Dweller  (1.5"-2") - 2 pack
</td><td>
Regular price
          $44.00
        
      </td></tr><tr><td>
Bumblebee Cichlid - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Lamprologus Brevis - 2 pack
</td><td>
Regular price
          $28.00
        
      </td></tr><tr><td>
Albino Red Top Zebra Cichlid - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Snow White Socolofi - 4 pack
</td><td>
Regular price
          $22.00
        
      </td></tr>
			</table>
		</body>
		</html>