<html>
		<head>
			<h1>Aquahuna fish available for type loache</h1>
		</head>
		<body>
			<table>
				<tr>
					<th>Fish</th>
					<th>Price</th>
				</tr>
			<tr><td>
Hillstream Loach / Borneo Sucker - 2 pack
</td><td>
Regular price
          $20.00
        
      </td></tr><tr><td>
Kuhli Loach - 6 pack
</td><td>
Regular price
          $18.00
        
      </td></tr><tr><td>
Hillstream Loach / Chinese Butterfly Pleco (Size M) - 2 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Clown Loach (1.5"- 1.75") - 3 pack
</td><td>
Regular price
          $27.00
        
      </td></tr><tr><td>
Dwarf Chain Loach / Sidthimunki Botia Small - 4 pack
</td><td>
Regular price
          $32.00
        
      </td></tr><tr><td>
Yoyo Loach (1.75") - 5 pack
</td><td>
Regular price
          $22.00
        
      </td></tr><tr><td>
Hillstream Loach / Sewellia lineolata - 2 pack
</td><td>
Regular price
          $24.00
        
      </td></tr><tr><td>
Black Kuhli Loach - 8 pack
</td><td>
Regular price
          $24.00
        
      </td></tr>
			</table>
		</body>
		</html>